.boxx11{
    width: 247.81px;
    height: 267px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    }

    
    .discount3{
        width: 73px;
        height: 28px;
        background: #F97316;
        border-radius: 8px;
        position: absolute;
        margin-top: 18px;
        margin-left: 150px;

    }
    .discount3text{
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 14px;
    }


    .quantity{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.64);
    }
    
    .productname{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    }
    
    .currency{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    }

    
.icon1:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
