.banner{
background-color:#EEF2FF;;
}

.banner1{
padding: 40px 0px;
}

.textmid1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
padding: 40px 0px;
color: #000000;
text-align: center;
}

.textmid2{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(0, 0, 0, 0.78);
text-align: center;
}

.buttonapp{
    background: #000000;
    border-radius: 10px;
    color: white;
    height: 62px;
}


.buttonfont{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;

color: #FFFBFB;


}